



















.indent
{
	margin-left: 2em;
}
.logomain
{
	
}
.logoimg
{
	display:inline-block;
}
.logotext
{
	display: inline-block;
	position: relative;
}
.logotitle
{
	position: relative;
	top: -10px;
	font-size: 175%
}
.logobottom
{
	font-size: 175%;
	position: relative;
	top: -10px;
}







.entryfield
{
	margin-left: 1em;
}
.controlbox
{
	max-width: 400px;
	border-style: ridge;
	padding: 5px;
}
.controlbox p
{
	margin: 5px;
}
.controlbox .commentbutton
{
	font-size: 14px;
}
.modbox
{
	border-style: ridge;
	background-color: #CCCCCC;
	max-width: 400px;
	padding: 5px;
}
.speakerbox
{
	background-color: #FFFF77	;
	max-width: 400px;
	border-style:ridge;
	text-indent: 20px;
	padding: 5px;
	padding-bottom: 20px;
}
.speakerbox div
{
	text-indent: 53px;
	font-weight: bold;
}
.handlisting
{
	
}
