body
{
	font-family: cantarell;
}
.indent
{
	margin-left: 2em;
}
.logomain
{
	
}
.logoimg
{
	display:inline-block;
}
.logotext
{
	display: inline-block;
	position: relative;
}
.logotitle
{
	position: relative;
	top: -10px;
	font-size: 175%
}
.logobottom
{
	font-size: 175%;
	position: relative;
	top: -10px;
}

.entryfield
{
	margin-left: 1em;
}
.controlbox
{
	margin: 5px 0px;
	max-width: 400px;
	padding: 5px;
	border: 1px solid;
}
.controlbox p
{
	margin: 5px 0px;
}
.commentbutton
{
	font-size: 90%;
}
.modbox
{
	border: 1px solid;
	background-color: #CCCCCC;
	max-width: 400px;
	padding: 5px;
}
.speakerbox
{
	background-color: #FFFF77	;
	max-width: 400px;
	border: 1px solid;
	margin: 0px 0px;
	padding: 5px;
}

.speakerbox p
{
	margin: 0px 0px;
	text-align: center;
}
#speaker
{
	font-weight: bold;
}
#theList
{
	min-height: 100px;
}
.handlisting
{
	margin: 1px;
	padding: 1px;
}
