html,body
{
	font-family: cantarell, sans-serif;
	margin: 5px 5px;
}

#origin
{
	height: 100%;

}

.indent
{
	margin-left: 2em;
}

.logoimg
{
	display:inline-block;
}
.logotext
{
	display: inline-block;
	position: relative;
}
.logotitle
{
	position: relative;
	top: -10px;
	font-size: 175%
}
.logobottom
{
	font-size: 175%;
	position: relative;
	top: -10px;
}

.entryfield
{
	margin-left: 1em;
}
.controlbox
{
	margin: 5px 0px;
	max-width: 400px;
	padding: 5px;
	border: 1px solid;

}
.controlbox p
{
	margin: 5px 0px;
}
.commentbutton
{
	font-size: 90%;
}
#suggestionbox
{
	width: 40%;
}

#comment
{
	width: 90%;
}
.modbox
{
	border: 1px solid;
	background-color: #CCCCCC;
	max-width: 400px;
	padding: 5px;
	margin: 0px 0px;

}

.modbox p
{
	margin: 5px;
}
.speakerbox
{
	background-color: #FFFF77;
	max-width: 400px;
	border: 1px solid;
	margin: 5px 0px;
	padding: 5px;
}

.speakerbox p
{
	margin: 0px 0px;
	text-align: left;
}

#speaker
{

	font-weight: bold;
	margin: 20px;
}

#theList
{
	min-height: 100px;
	padding: 5px;
	margin-bottom: 5px;
}

#ListButtons
{
	margin: 5px 0px;
	width: 400px;
	padding: 5px;
}

#modlegend
{
	margin: 5px 0px;
	font-size: small;
}
#legend
{
	font-size: small;
}
#copyright
{
	font-size: smaller;
}
.handlisting
{
	margin: 1px;
	padding: 1px;
}
